@use '../../../styles.scss';

$height: 80px;

.player-bar {
    background: styles.$main-color;
    color: styles.$main-color--text;
    height: $height;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, .5);
    &__control-panel {
        flex-grow: 1;
    }
    &__function-bar {
        flex-grow: 2;
    }
    .developing-area {
        flex-grow: 1;
        background: styles.$second-color;
    }
}