$timer-font-size: 10px;

.duration {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: space-between; [1]
    align-items: center;
    &__timer {
        font-size: $timer-font-size;
        margin: 0 10px; //temporate alternative for justify-content [1]
    }
}