@use '../../../../../styles.scss';

$button-background: transparent;
$button-size: 30px;
$button-font: 16px;

.volume {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 2 * $button-size;
        height: $button-size;
        line-height: $button-size;
        font-size: $button-font;
        background: $button-background;
        color: styles.$main-color--text;
        cursor: pointer;
    }
}