<div class='main-control'>
    <button class='main-control__button main-control__button--small main-control__button--transparent'
        (click)='onToggleLike()'
        [ngClass]="{'main-control__button--active': liked}">
        <fa-icon [icon]='like'></fa-icon>
    </button>
    <button class='main-control__button main-control__button--small main-control__button--transparent'>
        <fa-icon [icon]='backward'></fa-icon>
    </button>
    <button class='main-control__button main-control__button--big main-control__button--circle'>
        <fa-icon [icon]='playIcon'></fa-icon>
    </button>
    <button class='main-control__button main-control__button--small main-control__button--transparent'>
        <fa-icon [icon]='forward'></fa-icon>
    </button>
    <button class='main-control__button main-control__button--small main-control__button--transparent'
        (click)='onSwitchPlayMode()'>
        <fa-icon [icon]='playMode'></fa-icon>
    </button>
</div>
