@use '../styles.scss';
@use './components/player-bar/player-bar.component.scss' as player;
@use './components/header-bar/header-bar.component.scss' as header;

$main-height: calc(100vh - #{player.$height});

.groove {
    background: styles.$app-bgColor;
    height: $main-height;
    display: grid;
    grid-template-columns: 320px auto;
    &__playground {
        width: 100%;
        height: $main-height;
        &__header {
            height: header.$height;
        }
        &__content {
            height: calc(100% - #{header.$height});
            overflow-y: scroll;
        }
    }
}