@use '../../../styles.scss';

$logo-size: 150px;
$width: 350px;

.nav {
    background: styles.$second-color;
    height: 100%;
    width: $width;
    padding: 20px;
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: block;
        background: #0c171d;
        height: 50px;
        line-height: 50px;
        color: styles.$second-color;
        text-transform: capitalize;
        text-align: center;
        text-decoration: none;
        font-size: 19px;
        letter-spacing: 1px;
        border-radius: 7px;
        cursor: pointer;
        &--active {
            background-image: url('../../../assets/images/wolf-footprint-1.png');
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: 50px 3px;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    img {
        width: $logo-size;
        height: $logo-size; 
    }
}