<div class='header'>
    <button class='m-btn m-btn--transparent'>
        <span class="material-icons md-36 md-light md-inactive">
            navigate_before
        </span>
    </button>
    <button class='m-btn m-btn--transparent'>
        <span class="material-icons md-36">
            navigate_next
        </span>
    </button>
    <div class='m-fake-input m-fake-input--light-transparent'>
        <input type='text' placeholder="Search"/>
    </div>
    <button class='m-btn m-btn--circle m-btn--sync-theme'>
        <span class="material-icons">
            person_outline
        </span>
    </button>
</div>