/* You can add global styles to this file, and also import other style files */
$main-color: #0c171d;
$main-color--text: #fff;
$second-color: #fbcc4b;
$second-color--dark: #fbc123;
$app-bgColor: #12212a;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

span.material-icons {
    display: block;
}