/* You can add global styles to this file, and also import other style files */
$main-color: #0c171d;
$main-color--text: #fff;
$second-color: #fbcc4b;
$second-color--dark: #fbc123;
$app-bgColor: #12212a;
$app-fontSize-normal: 14px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

span.material-icons {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    /* Track */
    &-track {
        background: transparent; 
    }

    /* Handle */
    &-thumb {
        background: #7d7a7a;
        border-radius: 10px;
        transition: background .2s ease;
        &:hover {
            background: #bbb;
        } 
    }
}

.m {
    &-mt {
        &-30 {
            margin-top: 30px;
        }
    }
    &-mb {
        &-10 {
            margin-bottom: 10px;
        }
    }

    &-li {
        list-style: none;
    }

    &-btn {
        height: 35px;
        width: 35px;
        cursor: pointer;
        background: #3498db;
        color: #fff;
        &--transparent {
            background: transparent;
        }
        &--circle {
            border-radius: 50%;
        }
        &--sync-theme {
            background: $second-color;
        }
    }

    &-fake-input {
        height: 100%;
        padding: 0 25px;
        border-radius: 10px;
        width: 480px;
        input {
            height: 100%;
            width: 100%;
            background: transparent;
            color: #fff;
            font-size: $app-fontSize-normal;
            &::placeholder {
                font-size: $app-fontSize-normal;
                color: #ffffffc4;
            }
            &:focus {
                outline: none;
            }
        }
        &--light-transparent {
            background: rgba(255, 255, 255, .3);
        }
        &:focus-within {
            background: $second-color;
        }
    }
}